@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Poppins";
        font-weight: 300;
        src: url("./app/glossy/fonts/Poppins-Thin.ttf") format("ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-weight: 400;
        src: url("./app/glossy/fonts/Poppins-Light.ttf") format("ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-weight: 500;
        src: url("./app/glossy/fonts/Poppins-Regular.ttf") format("ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-weight: 500;
        font-style: italic;
        src: url("./app/glossy/fonts/Poppins-Italic.ttf") format("ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-weight: 600;
        src: url("./app/glossy/fonts/Poppins-Medium.ttf") format("ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-weight: 700;
        src: url("./app/glossy/fonts/Poppins-Semibold.ttf") format("ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-weight: 800;
        src: url("./app/glossy/fonts/Poppins-Bold.ttf") format("ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-weight: 900;
        src: url("./app/glossy/fonts/Poppins-Black.ttf") format("ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-weight: 400;
        src: url("./app/glossy/fonts/Poppins-Regular.ttf") format("ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-weight: 400;
        src: url("./app/glossy/fonts/Poppins-Regular.ttf") format("ttf");
    }
}